<div class="row">
    <% @appeal.items.each do |item| %>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <% if item.image.attached? %>
                    <%= cl_image_tag(item.image.key, crop: :scale, width: 400, cloud_name: 'desxzkkeh', class:"card-img-top") %>
                <% end %>
                <div class="card-body">
                    <h5 class="card-title"><%= item.name %></h5>
                    <p class="card-text"><%= item.description %></p>
                    <p class="card-text">Item Price: $<%= "%.2f" % item.price %></p>
                    <% if user_signed_in? && current_user.has_role?(:admin) %>
                        <%= link_to 'Edit Item', edit_item_path(item), class:"btn btn-primary btn-lg" %>
                    <% else %>
                        <button data-item-id="<%= item.id %>" class="buynow-button">Donate Now!</button>
                    <% end %>
                </div>
            </div>
        </div>

    <% end %>
    <script>
        const stripe = Stripe('<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>')
        const buyButtons = document.getElementsByClassName('buynow-button')
        for (button of buyButtons) {
            button.addEventListener('click', function(event) {
                fetch(`/items/${event.target.dataset.itemId}/buy`, {
                    method: 'POST'
                })
                .then(function(response) {
                    return response.json()
                })
                .then(function(session) {
                    return stripe.redirectToCheckout({ sessionId: session.id})
                })
            })
        }
    </script>
</div>