<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Manage Appeals</h1>
            <br>
            <%= link_to "Add New Appeal", 'appeals/new', class:"btn btn-primary btn-lg" %>
        </div>
    </div>
</div>
<h2>Current Appeals:</h2>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Appeal</th>
        <th scope="col">Recipient</th>
        <th scope="col">Active?</th>
      </tr>
    </thead>
    <tbody>
    </tr>
        <% @appeals.each do |appeal| %>
            <tr>
                <% if appeal.image.attached? %>
                    <td><%= cl_image_tag(appeal.image.key, crop: :scale, width: 150, cloud_name: 'desxzkkeh') %></td>
                <% else %>
                    <td><%= "No image" %></td>
                <% end %>
                <td> <%= appeal.appeal %></td>
                <td> <%= appeal.recipient %></td>
                <td> <%= appeal.active %></td>
                <td> <%= link_to 'Show More', appeal_path(appeal) %></td>
            </tr>
        <% end %>
    <tr>
    </table>
    <%= link_to 'Back', root_path %>
